.git
.github
.gitignore
.env
.env.example
.Python
__pycache__/
htmlcov/
env/
venv/
ENV/
.venv/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
*.cover
*.au3
*.bat
*.sh
*.so
*.lnk
*.url
*.pyc
*.py[cod]
*$py.class